

.progressbar {
  padding: 3.5rem 0 3.81rem 0;
}
.progressbar__heading {
  color: #373737;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 0 0 2rem 0;
}
.progressbar__heading-desc {
  width: 43.125rem;
  color: #7D7D7D;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 0 0 4.94rem 0;
}
@media (max-width: 767px) {
  .progressbar__heading {
    font-size: 1.5rem;

  }
  .progressbar__heading-desc {
    width: 31.25rem;
  }
}
@media (max-width: 575px) {
  .progressbar__heading-desc {
    width: 19.5rem;
  }
}
@media (max-width: 359px) {
  .progressbar__heading-desc {
    width: 17.75rem;
  }
}
.progressbar__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 1199px) {
  .progressbar__wrapper {
    flex-wrap: nowrap;
  }
}
@media (max-width: 767px) {
  .progressbar__wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 575px) {
  .progressbar__wrapper {
    flex-wrap: wrap;
  }
}
.progressbar__card {
  width: 20.8125rem;
  background: #fff;
  min-height: 23.19rem;
  border-radius: 6.25rem 0.5rem 6.31rem 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.3125rem 2.12rem 3.94rem 2.12rem;
  margin: 0 2rem 0 0;
  cursor: pointer;
}
.progressbar__card:last-child {
  margin: 0;
}
.progressbar__card:hover {
  box-shadow: 0 35px  50px 0 rgba(132, 30, 37, 0.3);
}
@media (max-width: 767px) {
  .progressbar__card {
    width: 100%;
    margin: 0 0 1.25rem 0;
  }
  .progressbar__card:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 575px) {
  .progressbar__card {
    width: 20.81rem;
  }
}
.progressbar__circle {
  position: relative;
  height: 6.25rem;
  width: 6.25rem;
  color: #841E25;
  border-radius: 50%;
  cursor: default;
  background-color: rgba(132, 30, 37, 0.1);
  margin: 0 auto 0 auto;
}
.progressbar .middle {
  color: #70CE88;
  background-color: rgba(112, 206, 136, 0.1);
}
.progressbar .right {
  color: #FFBA49;
  background-color: rgba(255, 186, 73, 0.1);
}
.progressbar__box {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}
.progressbar__percentage {
  font-size: 1.3125rem;
  font-weight: 700;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}
.progressbar .progressbar__card .progressbar__circle:hover .progressbar__box {
  position: absolute;
  top: 50%;
  left: 50%;
}
.progressbar .progressbar__card .progressbar__circle .progressbar__box,
.progressbar .progressbar__card .progressbar__circle .progressbar__box .progressbar__percentage {
  position: absolute;
  top: 50%;
  left: 50%;
}
.progressbar .progressbar__card .progressbar__circle .progressbar__box {
  transform: translate(-50%, -50%) scale(0.91);
}
.progressbar__title {
  color: #4B647E;
  font-size: 1.0625rem;
  font-weight: 500;
  text-align: center;
  padding: 1.8125rem 0 2.5625rem 0;
}
.progressbar__title-desc {
  color: #7D7D7D;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
}