*{
  font-weight: 400;
}
select {
  outline: none;
}
body{
    /* overflow-x: hidden; */
   font-family: 'Circular Std';
   font-weight: 400;
   font-size: 16px;
   color: #212529;
}

a{
  cursor: pointer;
}

.btn-option {
  padding: 7.82px 9.8px 7.82px 15.5px;
}
.header {
  padding: 16.8px 15px 13.3px 15px;
}
.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}
.banner {
  min-height: 600px;
  max-height:800px;

  /* min-height: calc(100vh - 133px); */
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.78),
      rgba(0, 0, 0, 0.78)
    ),
    url('../img/pillar-structure-bg.webp');
  background-size: cover;
}

.blog-bg{
  transform:rotate(90deg) translateX(-125px);
  right: 0;
  
}

.blog-img:after {
  content: "";
  position: absolute;
  width: 90px;
aspect-ratio: 1/1;
  background: transparent;
  top: -55px;
  box-sizing: content-box;
  left: -55px;
  border-radius: 100%;
  border: 35px solid #841e25;
}
.mission {
  position: relative;
  overflow: hidden;
}
.mission:after {
  content: "";
  position: absolute;
  top: -60px;
  width: 100%;
  height: 100px;
  left: 50%;
  transform: translateX(-50%) scale(1.2);
  background-color: white;
  border-radius: 0px 0px 100% 100%;
}
.mission:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(1.2);
  width: 100%;
  height: 35px;
  background-color: white;
  border-radius: 100% 100% 0 0;

}
.mission .container{
  max-width: 945px;
  padding: 0 60px;
}

.mission-con {
  position: relative;
}
.mission-con::before {
  content: "";
  position: absolute;
  background-image: url(../img/dot-background.svg);
  top: 250px;
  left: -56px;
  width: 124px;
  height: 193px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.mission-con:nth-child(2)::before {
  top: 100px;
  left: 100%;
  transform: rotate(90deg);
}
.mission-img{
    position: relative;
    -webkit-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.48);
    box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.48);
  

  }
.mission-img::before {
  content: "";
  position: absolute;
  width: 245px;
  aspect-ratio: 1/1;
  border: 3px solid #ffba49;
  border-radius: 100%;
  left: -60px;
  bottom: -25px;
  z-index: -1;
}
.mission-img::after {
  content: "";
  position: absolute;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 3px solid #ffba49;
  top: 100px;
  left: -75px;
  z-index: -1;
}
.mission-img:nth-child(2)::after{
top: -43px;
left: 55px;

}
.mission-img:nth-child(2)::before{
    bottom: 50%;
    left: 150px;
}
.service-card .icon{
  border: 1px solid transparent;

}
.service-card:hover .icon{
    background: transparent;
    border: 1px solid white;
}
.education{
    height: 760px;
}
.education::before{
    content: "";
    position: absolute;
    background: rgb(249,244,252);
    background: linear-gradient(0deg, rgba(249,244,252,1) 0%, rgba(255,244,229,1) 100%);    height: 100%;
    width: 120%;
    top: 0;
    border-radius: 75%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.education .slick-arrow{
    left: 100px;
    z-index: 20;
    top:unset;
    bottom: -68px;
    height: 16px;
        width: 19px;
        background-size: contain;
    /* background-image: url(../icon/slider-left.svg); */
}
.education .slick-prev{
    left: 80px;
    /* bottom: -48px; */
  
    background-image: url(../icon/slider-left.svg);
}
.education .slick-next{
    left: 120px;
    /* bottom: -48px; */
  
    background-image: url(../icon/slider-right.svg);
    color: rgba(55, 71, 79, 0.65);
}
.testimonal-card{
    position: relative;
}
.testimonal{
 padding-bottom:100px;
}
.testimonal-card{   
margin:30px 20px ;
}
.testimonal-slider ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonal-slider .slick-dots li{
background-color: #7C7C7C;
width: 7px;
height: 7px;
border-radius: 50%;
}
.testimonal-slider .slick-dots li.slick-active{
    background-color: #841E25;
    width: 10px;
    height: 10px;   
}
.content li{
    list-style: disc;
    
}
.content li a{
text-decoration: underline;  
}

.information{
    position: relative;
    overflow: hidden;

}
.information::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    border-radius:0% 0 100% 100%;
    top:0;
    left:0;
    background-color: white;
}
.information::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    border-radius:100% 100% 0 0;
    bottom:0;
    left:0;
    background-color: white;
}
.offer .container{
    /* background-color: green; */
    max-width: 1000px;
    gap:10px;
    padding-bottom: 73px;
}
.progress-card{
    cursor: pointer;
}
.progress-card:hover{
    background-color: #F9F9FF;

    -webkit-box-shadow: 0px 35px 53px 0px rgba(132, 30, 37, 0.479);
-moz-box-shadow: 0px 35px 53px 0px rgba(132, 30, 37, 0.479);
box-shadow: 0px 35px 53px 0px rgba(132, 30, 37, 0.479);
    border-radius:100px 5.5px 100px 5.5px;

}
.footer-logo{
position: relative;
}
.footer-logo::after{
    content: "";
    position: absolute;
    width: 40px;
    aspect-ratio: 1/1;
    background-image: url(../icon/footer-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: -50px;
    top: -5px;
}
footer .container{
    /* padding: 0 60px; */
    padding-bottom: 120px;
    max-width: 1135px;
}
.copyright{
    border-top: 1px solid rgba(255, 255, 255, 0.117);
}
footer::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    border-radius: 0% 0 100% 100%;
    top: 0;
    left: 0;
    background-color: white;
}
.dropdown li a{
  text-decoration: dashed;
  color: rgba(132, 30, 37, 1);
}
.dropdown ul{
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px 20px;
}



#searchModal{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  top: -150%;
  left: 0;
}
.search-container{
  min-height: 400px;
}



.nav__items {
  position: relative;
  /* background-color: #2d2c41; */
  display: flex;
  justify-content: center;
  align-items: center;}

.nav__item {
  position: relative;
  display: inline-block;

}

.nav__item__link {
  position: relative;
  display: flex;
  color: #002147;
  z-index: 2;
  text-decoration: none;
  font-size: 16px;
  align-items: baseline;
  /* background-color: #2d2c41; */

}
.nav__item__link img{
  transition: all .5s ease;

}
/* .nav__item__link:hover,
.nav__item__link:focus {
  background-color: #4b4a5e;
  color: #FFF;
} */

.nav__item__drop {
  position: absolute;
  left: 0;
  top: 100%;
  text-align: left;
  opacity: 0;
  transform: translateY(-20px);
  height: 1px;
  min-width: 100%;
  transition: transform .2s ease-in-out, opacity .1s ease-out;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  -webkit-box-shadow: 0px 10px 31px -1px rgba(0,0,0,0.78);
  -moz-box-shadow: 0px 10px 31px -1px rgba(0,0,0,0.78);
  box-shadow: 0px 10px 31px -1px rgba(0,0,0,0.78); 
}
.nav__item__drop .nav__item__link {
  padding: 12px 20px;
  white-space: nowrap;
}

.nav__item__link:focus + .nav__item__drop,
.nav__item:hover .nav__item__drop,
.nav__item__drop:focus-within {
  opacity: 1;
  transform: translateY(0px);
  height: auto;
  z-index: 9;
 
}
.nav__item__link:hover img{
transform: rotate(180deg);
}

/* .nav__item__link:focus + .nav__item__drop,
.nav__item:hover .nav__item__drop,
.nav__item__drop:focus-within .nav__item__link img{
transform: rotate(90deg);
} */

#menubar{
  display: none;
  top: 10px;
  right: 25px;
}
#menu {
  display: flex;
  gap: 20px ;
}
.search-icon-container{
  display: inline-block;
}
@media only screen and (max-width:1100px) {
  #menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background-color: #FFBA49;
    color: white;
    position: fixed;
    top: 0;
    right: -100%;
  }.nav__item__drop{
    left: 100%;
  }
  .search-icon-container {
    display: none;
  }

  #menubar{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
  }
  #navClose{
    display: block;
  
  }





}
#navClose{
  display: none;
  position: absolute;
  top: 130px;
  right: 15px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 400;
}


@media only screen and (max-width:767px){
  .education::before{
    width: 200%;
  }
  .btn-option {
    padding: 5px 6px 5px 10px;
  }
  .mission .container {
    padding: 0 40px;
}

}
@media only screen and (max-width:545px){

  .btn-option {
    padding: 5px 6px 5px 10px;
  }
  .mission .container {
    padding: 0 10px;
}
}


.lang-on{
  display: flex !important;
}
  .lang-dropdown{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  
    top:35px ;
    display: none;
    height: max-content;
       padding: 12px 25px;
       border: 1px solid white;
 gap: 10px;
    flex-direction:column;
    justify-content: center;
  
  }
  .lang-dropdown a{
    display: block;
    color: white;

  }
  @media only screen and (max-width:1155px){
    .nav__item__link{
    font-size: 12px !important;
    }
  }
  @media only screen and (max-width:1280px){
    .nav__item__link{
    font-size: 12px !important;
    }
  }

  .student-slider p{
    font-size: 17.5px;
    line-height: 27.3px;
    padding: 17.5px 0 22.5px 0;
  }

  @media only screen and (max-width:640px) {
    .blog-img:after {
      content: "";
      position: absolute;
      width: 45px;
      aspect-ratio: 1/1;
      background: transparent;
      top: -40px;
      box-sizing: content-box;
      left: -8px;
      border-radius: 100%;
      border: 18px solid #841e25;
  }
  }
  @media only screen and (max-width:450px) {
  .mission-img::after, .mission-img::before,.mission-con::before{
    display: none;
  }

  }
  